body {
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url("https://cdn.pixabay.com/photo/2017/01/13/18/04/blue-1977898_960_720.jpg");
    background-color: lightcyan;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    
}

.heading {
    margin-left: 400px;
    margin-top: 70px;
}

.place {
    font-size: 40px;
}
.location {
    font-size: 25px;
}

#text {
    border-radius: 10px;
    height: 35px;
    ba
}
#sub {
    border-radius: 10px;
    height: 35px;
    width: 100px;
    color: white;
    background-color: lightblue
}
